<?xml version="1.0"?>
<!--
/**
 * ISTools_EmailTemplates config file
 *
 * @category     ISTools
 * @package      ISTools_EmailTemplates
 * @author       Igor Solovyov <igorsolovyov@me.com>
 */
-->
<config>
    <modules>
        <ISTools_EmailTemplates>
            <version>0.1</version>
        </ISTools_EmailTemplates>
    </modules>
    <global>
        <helpers>
            <email_templates>
                <class>ISTools_EmailTemplates_Helper</class>
            </email_templates>
        </helpers>
        <models>
            <email_templates>
                <class>ISTools_EmailTemplates_Model</class>
            </email_templates>
            <core>
                <rewrite>
                    <!-- skip sending emails if there is a flag in the registry -->
                    <email_template>ISTools_EmailTemplates_Model_Core_Email_Template</email_template>
                </rewrite>
            </core>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ISTools_EmailTemplates before="Mage_Adminhtml">ISTools_EmailTemplates_Adminhtml</ISTools_EmailTemplates>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <bundle>
                    <file>is_tools/email_templates.xml</file>
                </bundle>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_adminhtml_sales_order_viewOrderNewTemplate>
                <observers>
                    <viewOrderNewTemplate_predispatch>
                        <class>email_templates/adminhtml_observer</class>
                        <method>emailViewPreDispatchAdminhtml</method>
                    </viewOrderNewTemplate_predispatch>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_viewOrderNewTemplate>
            <controller_action_predispatch_adminhtml_sales_order_viewOrderUpdateTemplate>
                <observers>
                    <viewOrderNewTemplate_predispatch>
                        <class>email_templates/adminhtml_observer</class>
                        <method>emailViewPreDispatchAdminhtml</method>
                    </viewOrderNewTemplate_predispatch>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_viewOrderUpdateTemplate>

            <controller_action_predispatch_adminhtml_sales_order_invoice_viewInvoiceNewTemplate>
                <observers>
                    <viewOrderNewTemplate_predispatch>
                        <class>email_templates/adminhtml_observer</class>
                        <method>emailViewPreDispatchAdminhtml</method>
                    </viewOrderNewTemplate_predispatch>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_invoice_viewInvoiceNewTemplate>
            <controller_action_predispatch_adminhtml_sales_order_invoice_viewInvoiceUpdateTemplate>
                <observers>
                    <viewOrderNewTemplate_predispatch>
                        <class>email_templates/adminhtml_observer</class>
                        <method>emailViewPreDispatchAdminhtml</method>
                    </viewOrderNewTemplate_predispatch>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_invoice_viewInvoiceUpdateTemplate>

            <controller_action_predispatch_adminhtml_sales_order_shipment_viewShipmentNewTemplate>
                <observers>
                    <viewOrderNewTemplate_predispatch>
                        <class>email_templates/adminhtml_observer</class>
                        <method>emailViewPreDispatchAdminhtml</method>
                    </viewOrderNewTemplate_predispatch>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_shipment_viewShipmentNewTemplate>
            <controller_action_predispatch_adminhtml_sales_order_shipment_viewShipmentUpdateTemplate>
                <observers>
                    <viewOrderNewTemplate_predispatch>
                        <class>email_templates/adminhtml_observer</class>
                        <method>emailViewPreDispatchAdminhtml</method>
                    </viewOrderNewTemplate_predispatch>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_shipment_viewShipmentUpdateTemplate>

            <controller_action_predispatch_adminhtml_sales_order_creditmemo_viewCreditmemoNewTemplate>
                <observers>
                    <viewOrderNewTemplate_predispatch>
                        <class>email_templates/adminhtml_observer</class>
                        <method>emailViewPreDispatchAdminhtml</method>
                    </viewOrderNewTemplate_predispatch>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_creditmemo_viewCreditmemoNewTemplate>
            <controller_action_predispatch_adminhtml_sales_order_creditmemo_viewCreditmemoUpdateTemplate>
                <observers>
                    <viewOrderNewTemplate_predispatch>
                        <class>email_templates/adminhtml_observer</class>
                        <method>emailViewPreDispatchAdminhtml</method>
                    </viewOrderNewTemplate_predispatch>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_creditmemo_viewCreditmemoUpdateTemplate>
        </events>
    </adminhtml>
    <default>
        <dev>
            <is_tools>
                <email_template_hints>0</email_template_hints>
            </is_tools>
        </dev>
    </default>
</config>
